<% include ../partials/header %>

<h1>Edit Post</h1>

<form action="/posts/<%= post.id %>?_method=PUT" method="POST">
    <input type="text" name="post[title]" placeholder="Title" value="<%= post.title %>">
    <input type="text" name="post[price]" placeholder="Price" value="<%= post.price %>">
    <textarea name="post[description]" placeholder="Description"><%= post.description %></textarea>
    <input type="text" name="post[image]" placeholder="Image URL" value="<%= post.image %>">
    <input type="text" name="post[location]" placeholder="Location" value="<%= post.location %>">
    
    <input type="submit">
</form>

<% include ../partials/footer %>