<% layout('layouts/post-show-layout') -%>

<h1><%= post.title %></h1>
<div><b>Price: $</b><%= post.price %></div>
<div><b>Description: </b><%= post.description %></div>
<div><b>Location: </b><%= post.location %></div>
<div>
    <% post.images.forEach((image) => { %>
        <img src="<%= image.url %>" alt="surf-image" width="250px" height="200px">
    <% }); %>
</div>

<div id='map'></div>
<div>
    <a href="/posts/<%= post.id %>/edit">
        <button>Edit Post</button> 
    </a>
</div>

<form action="/posts/<%= post.id %>?_method=DELETE" method="POST" id="postDeleteForm">
    <div>
        <button type="submit">Delete</button>
    </div>
</form>
