<% layout('layouts/post-show-layout') -%>

<!-- post description -->
<h1><%= post.title %></h1>
<div><b>Price: $</b><%= post.price %></div>
<div><b>Description: </b><%= post.description %></div>
<div><b>Location: </b><%= post.location %></div>
<div><b>Average Rating: </b>
    <% for(let i = 0; i < 5; i++) { %>
        <% if(i < floorRating) { %>
            <!-- display full star -->
            <i class="fas fa-star"></i>
        <% } else if((post.avgRating - i) > 0 && (post.avgRating - i) < 1) { %> 
            <!-- display half star -->
            <i class="fas fa-star-half-alt"></i>
        <% } else { %>
            <!-- display empty star -->
            <i class="far fa-star"></i>
        <% } %>
    <% } %>
    <%= `${post.avgRating} star${post.avgRating === 1 ? '' : 's'}` %>
</div>

<div>
    <% post.images.forEach(image => { %>
        <!-- for image from nary do image.url for src -->
        <img src="<%= image.url %>" alt="surf-image" width="250px" height="200px">  
    <% }); %>
</div>

<!-- show mapbox -->
<div id='map'></div>

<div>
    <a href="/posts/<%= post.id %>/edit">
        <button>Edit</button> 
    </a>
</div>

<form action="/posts/<%= post.id %>?_method=DELETE" method="POST" id="postDeleteForm">
    <div>
        <button type="submit">Delete</button>
    </div>
</form>

<br>

<!-- Stripe Payment Form -->
<form action="/payment" method="POST" id="payment-form">
    <input type="hidden" name="amount" value="<%= post.price %>00">
    <script
      src="//checkout.stripe.com/v2/checkout.js"
      class="stripe-button"
      data-key="<%= stripePublicKey %>"
      data-locale="auto"
      data-name="<%= post.title %>"
      data-description="<%= post.description %>"
      data-amount="<%= post.price %>00"
      >
    </script> 
</form>


<h2>Leave a Review</h2>
<form action="/posts/<%= post.id %>/reviews" method="POST">
    <textarea name="review[body]" required></textarea>
    <fieldset class="starability-basic">
        <legend>Rating:</legend>
        <input type="radio" id="rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
        <input type="radio" id="rate1" name="review[rating]" value="1" />
        <label for="rate1" title="Terrible">1 star</label>
        <input type="radio" id="rate2" name="review[rating]" value="2" />
        <label for="rate2" title="Not good">2 stars</label>
        <input type="radio" id="rate3" name="review[rating]" value="3" />
        <label for="rate3" title="Average">3 stars</label>
        <input type="radio" id="rate4" name="review[rating]" value="4" />
        <label for="rate4" title="Very good">4 stars</label>
        <input type="radio" id="rate5" name="review[rating]" value="5" />
        <label for="rate5" title="Amazing">5 stars</label>
        <button class="clear-rating" type="button">Clear Rating</button>
    </fieldset>

    <input type="submit">
</form>

<!-- display all reviews -->
<h3><%= `${post.reviews.length} Review${post.reviews.length === 1 ? '' : 's'}` %></h3>
<hr>
<% post.reviews.forEach(review => { %>
    <div>
        Author: <%= review.author.username %>
        <br>
        <%= review.body %>
        <br>
        Rating: <%= review.rating %>

    </div>
    <% if(review.author.equals(currentUser._id) || review.author.equals(currentUser.googleId)) { %>
    <div>
        <button class="toggle-edit-form">Edit</button>

        <form action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=PUT" method="POST" class="edit-review-form">
            <textarea name="review[body]" required><%= review.body %></textarea>
            <fieldset class="starability-basic">
                <legend>Rating:</legend>
                <input type="radio" id="edit-rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                <input type="radio" id="edit-rate1" name="review[rating]" value="1" />
                <label for="edit-rate1" title="Terrible">1 star</label>
                <input type="radio" id="edit-rate2" name="review[rating]" value="2" />
                <label for="edit-rate2" title="Not good">2 stars</label>
                <input type="radio" id="edit-rate3" name="review[rating]" value="3" />
                <label for="edit-rate3" title="Average">3 stars</label>
                <input type="radio" id="edit-rate4" name="review[rating]" value="4" />
                <label for="edit-rate4" title="Very good">4 stars</label>
                <input type="radio" id="edit-rate5" name="review[rating]" value="5" />
                <label for="edit-rate5" title="Amazing">5 stars</label>
                <button class="clear-rating" type="button">Clear Rating</button>
            </fieldset>
            
            <input type="submit" value="Update">
        </form>

        <!-- updating rating shows previously submited rating -->
        <script>
            $('#edit-rate<%= review.rating %>').prop('checked', true);
        </script>

        <form action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete">
        </form>

        <hr>

    </div>
<% } %>
    <hr>
<% }); %>

